{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrder": [
    "^store/(.*)$",
    "^routes/(.*)$",
    "^interfaces/(.*)$",
    "^hooks/(.*)$",
    "^services/(.*)$",
    "^util/(.*)$",
    "^constants/(.*)$",
    "^components/pages/(.*)$",
    "^components/organisms/(.*)$",
    "^components/molecules/(.*)$",
    "^components/atoms/(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
