.card {
  position: relative;
  width: 20rem;

  transition: opacity 0.7s ease-in-out;
  opacity: 0;

  &.animate {
    opacity: 1;
  }

  .cover {
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 24rem;
    object-fit: cover;
    border-radius: 0.2em;
  }

  .background {
    position: absolute;
    inset: 0;
    background-color: var(--dark-blue);
    border-radius: 0.5em;
    z-index: -1;
    opacity: 0;
    transform: scale(0.1, 0.6);
  }

  .rank {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 1000;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 0.5em 0.5em 0.75em;
    clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
  }

  .buyers {
    display: flex;
    font-size: 1.2rem;
  }

  .name {
    font-size: 1.5rem;
    margin-top: 1em;
    margin-left: 0.2em;
  }

  .info {
    transition: 250ms transform;
    border: 0.15em solid rgba(255, 255, 255, 0.65);
    border-radius: 0.5em;

    .status {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.4em 0.4em;
      margin-top: 0.5em;
    }

    .viewers {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      > svg {
        margin-right: 0.4em;
      }
    }

    .buyers > div {
      margin-left: 0.2em;
    }
  }

  .more-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    color: var(--lighter-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .stream-info {
      margin: 1em 0;
      columns: 2;
      column-rule: 1px solid var(--lighter-blue);
    }

    .statistics {
      font-size: 1.8rem;
      text-align: center;

      span {
        font-size: 0.8em;
        display: block;
      }
    }

    .buyers {
      margin-bottom: 2em;
      display: flex;
      width: 60%;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &:hover {
    .info {
      transform: translateY(-30%) scale(0.6);

      .status {
        opacity: 0;
      }

      .name {
        text-align: center;
        transform: scale(1.4);
      }
    }

    .more-info {
      opacity: 1;
      transition: opacity 550ms linear;
    }

    .background {
      opacity: 1;
      transform: scale(1, 1);
      transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1), opacity 100ms linear;
    }
  }
}

@media (prefers-reduced-motion) {
  .card {
    transition: none;
  }
}
