@mixin button-type($background) {
  background: $background;

  &:hover {
    box-shadow: 0 0.5em 0.5em -0.4em $background;
    transform: translateY(-0.25rem);
  }
}

.btn {
  display: inline-block;
  border: none;
  text-align: center;
  vertical-align: middle;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4em;
  margin: 0.2em;
  letter-spacing: 0.05em;
  border-radius: 0.25em;
  min-height: 1.5em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;

  &:focus,
  &:focus {
    outline: 0.1px solid var(--lightest-blue);
  }

  &:disabled {
    @include button-type(#bec8d1);
    opacity: 0.3;
    color: black;
  }
}

.primary {
  @include button-type(var(--lighter-blue));
}

.secondary {
  @include button-type(var(--gray));
  color: var(--dark-blue);
}

.icon {
  font-size: 1.4rem;
  width: 1.1em;
  height: 1.1em;
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.small {
  min-width: 5em;
  max-width: 5em;
}

.medium {
  min-width: 10em;
  max-width: 10em;
}

.large {
  min-width: calc(100% - 0.4em);
  max-width: calc(100% - 0.4em);
}
