@mixin button-type($background, $border, $hover) {
  background: linear-gradient(25deg, $background, $hover);
  border: 1px solid $border;

  &:hover {
    opacity: 0.7;
  }
}

.btn {
  display: inline-block;
  border: none;
  font-weight: 400;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 0.3em;
  margin: 0.2rem;
  line-height: 0;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:disabled {
    @include button-type(#bec8d1, #acb8c4, #bbc9d8);
    opacity: 0.3;
  }
}

.primary {
  @include button-type(#007bff, #007bff, #0073c0);
}

.secondary {
  @include button-type(#6c757d, #6c757d, #404141);
}

.icon {
  width: 1.1rem;
  height: 1.1rem;
  padding: 0;
  font-size: 0.6rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.small {
  min-width: 60px;
  max-width: 25%;
  height: 1.2rem;
  font-size: 0.5rem;
}

.medium {
  width: 50%;
  height: 1.5rem;
}

.large {
  width: calc(100% - 0.4rem);
  height: 1.8rem;
}
