$color-blue: hsl(211, 100%, 50%);

.accordion {
  max-width: 768px;
}
.accordion-item {
  border-radius: 5px;
  overflow: hidden;
  font-size: 0.45em;
  margin: 0.2em 1em;
}
.accordion-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-blue;
  color: white;
  padding: 0.6em 1em;

  &:hover {
    background-color: hsla(211, 100%, 50%, 0.6);
  }
}

.accordion-toggle h3 {
  margin: 0;
}

.accordion-content {
  background-color: hsla(211, 100%, 50%, 0.85);
  transition: all 0.1s ease-out;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  max-height: 0;
  height: 0;
}

.active {
  transition: all 0.3s 0.11s ease-in;
  padding-top: 1em;
  padding-bottom: 1em;
  max-height: 500px;
  height: auto;
}
